doctype html
html(lang="en")
    head
        title Coming Soon 15
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        // ===============================================================================================
        link(rel="icon" type="image/png" href="images/icons/favicon.ico")
        // ===============================================================================================
        link(rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css")
        // ===============================================================================================
        link(rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css")
        // ===============================================================================================
        link(rel="stylesheet" type="text/css" href="vendor/animate/animate.css")
        // ===============================================================================================
        link(rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css")
        // ===============================================================================================
        link(rel="stylesheet" type="text/css" href="vendor/countdowntime/flipclock.css")
        // ===============================================================================================
        link(rel="stylesheet" type="text/css" href="css/util.css")
        link(rel="stylesheet" type="text/css" href="css/main.css")
        // ===============================================================================================
    body
        //-.bg-img1.size1.overlay1.p-b-35.p-l-15.p-r-15(style="background-image: url('images/bg01.jpg');")
        .bg-img1.size1.overlay1.p-b-35.p-l-15.p-r-15(style="background-image: url('img/fox-tail.png');")
            .flex-col-c.p-t-160.p-b-215.respon1
                .wrappic1
                    a(href="#")
                        img(src="img/logo.png" alt="IMG" style="border-radius:15px !important;")
                h3.l1-txt1.txt-center.p-t-30.p-b-40
                    | Sistema en mantenimiento
                h4.txt-center(style="color:#FFF").p-b-10 El sistema se reestablecerá en 10 min.
                h4.txt-center(style="color:#FFF") Perdón por los contratiempos generados<br>proceso de actualización de la planilla<br>la misma demorará al rededor de 10 minutos aprox.<br>Gracias por su comprensión.
                //-.cd100
            // 
            //-.flex-w.flex-c-m.p-b-35
                //-a.size3.flex-c-m.how-social.trans-04.m-r-3.m-l-3.m-b-5(href="#")
                    i.fa.fa-facebook
                //-a.size3.flex-c-m.how-social.trans-04.m-r-3.m-l-3.m-b-5(href="#")
                    i.fa.fa-twitter
                //-a.size3.flex-c-m.how-social.trans-04.m-r-3.m-l-3.m-b-5(href="#")
                    i.fa.fa-youtube-play
        // ===============================================================================================
        script(src="vendor/jquery/jquery-3.2.1.min.js")
        // ===============================================================================================
        script(src="vendor/bootstrap/js/popper.js")
        script(src="vendor/bootstrap/js/bootstrap.min.js")
        // ===============================================================================================
        script(src="vendor/select2/select2.min.js")
        // ===============================================================================================
        script(src="vendor/countdowntime/flipclock.min.js")
        script(src="vendor/countdowntime/moment.min.js")
        script(src="vendor/countdowntime/moment-timezone.min.js")
        script(src="vendor/countdowntime/moment-timezone-with-data.min.js")
        script(src="vendor/countdowntime/countdowntime.js")
        script.
            $('.cd100').countdown100({
            /*Set Endtime here*/
            /*Endtime must be > current time*/
            endtimeYear: 0,
            endtimeMonth: 0,
            endtimeDate: 0,
            endtimeHours: 12,
            endtimeMinutes: 5,
            endtimeSeconds: 0,
            //timeZone: "America/La_Paz"
            //ex:  timeZone: "America/La_Paz"
            //go to " http://momentjs.com/timezone/ " to get timezone
            });
        // ===============================================================================================
        script(src="vendor/tilt/tilt.jquery.min.js")
        script.
            $('.js-tilt').tilt({
            scale: 1.1
            })
        // ===============================================================================================
        script(src="js/main.js")
